header{
  color:#C79661;
  text-align:center;
  font-size: larger;
}

body{
  background-color:#00A7E1;
}

.app-form{
  width:20%;
  box-sizing: border-box;
}

.player-card{
  display:block;
  border: 3px solid #FFFFFF;
  width:8%;
  float:right;
  position: relative;
}

.card{
  border:2px solid #D4A47D; 
  width: 5%;
}

.cardBack{
  border:2px solid #D4A47D; 
}